listen=${DOGECOIN_LISTEN}
server=${DOGECOIN_SERVER}
maxconnections=${DOGECOIN_MAXCONNECTIONS}
rpcport=${DOGECOIN_RPCPORT}
rpcuser=${DOGECOIN_RPCUSER}
rpcpassword=${DOGECOIN_RPCPASSWORD}
rpcbind=${DOGECOIN_RPCBIND}
rpcthreads=${DOGECOIN_RPCTHREADS}
rpcallowip=${DOGECOIN_RPCALLOWIP}
${DOGECOIN_MIN_RELAY_FEE_LINE}

[test]
listen=${DOGECOIN_LISTEN}
server=${DOGECOIN_SERVER}
maxconnections=${DOGECOIN_MAXCONNECTIONS}
rpcport=${DOGECOIN_RPCPORT}
rpcuser=${DOGECOIN_RPCUSER}
rpcpassword=${DOGECOIN_RPCPASSWORD}
rpcbind=${DOGECOIN_RPCBIND}
rpcthreads=${DOGECOIN_RPCTHREADS}
rpcallowip=${DOGECOIN_RPCALLOWIP}
